In [57]:
import pandas as pd
import numpy as np

In [25]:
name_data = "/Users/felix/Desktop/SnapUsers-Dummy/babyNamesUSYOB-full.csv"
food_data = "/Users/felix/Desktop/SnapUsers-Dummy/calories.csv"
color_data = "/Users/felix/Desktop/SnapUsers-Dummy/colors.csv"
hobby_data = "/Users/felix/Desktop/SnapUsers-Dummy/hobbylist.csv"
word_data1 = "/Users/felix/Desktop/SnapUsers-Dummy/ngram_freq.csv"
word_data2 = "/Users/felix/Desktop/SnapUsers-Dummy/words_pos.csv"
petname_data = "/Users/felix/Desktop/SnapUsers-Dummy/seattlepets.csv"
slang_data = "/Users/felix/Desktop/SnapUsers-Dummy/slang.csv"
urbandict_data = "/Users/felix/Desktop/SnapUsers-Dummy/urban_dictionary.csv"
adj_data = "/Users/felix/Desktop/SnapUsers-Dummy/adjectives.csv"
adv_data = "/Users/felix/Desktop/SnapUsers-Dummy/adverbs.csv"
noun_data = "/Users/felix/Desktop/SnapUsers-Dummy/nouns.csv"
pnoun_data = "/Users/felix/Desktop/SnapUsers-Dummy/plural-nouns.csv"
verb_data = "/Users/felix/Desktop/SnapUsers-Dummy/verbs.csv"
ppp_data = "/Users/felix/Desktop/SnapUsers-Dummy/words-multiple-present-participle.csv"
animal_data1 = "/Users/felix/Desktop/SnapUsers-Dummy/animals.csv"
animal_data2 = "/Users/felix/Desktop/SnapUsers-Dummy/Animal Dataset.csv"

In [26]:
name_df = pd.read_csv(name_data, on_bad_lines='skip')
food_df = pd.read_csv(food_data, on_bad_lines='skip')
color_df = pd.read_csv(color_data, on_bad_lines='skip')
hobby_df = pd.read_csv(hobby_data, on_bad_lines='skip')
word1_df = pd.read_csv(word_data1, on_bad_lines='skip')
word2_df = pd.read_csv(word_data2, on_bad_lines='skip')
pet_df = pd.read_csv(petname_data, on_bad_lines='skip')
slang_df = pd.read_csv(slang_data, on_bad_lines='skip')
urbandict_df = pd.read_csv(urbandict_data, on_bad_lines='skip')
adj_df = pd.read_csv(adj_data, on_bad_lines='skip')
adv_df = pd.read_csv(adv_data, on_bad_lines='skip')
noun_df = pd.read_csv(noun_data, on_bad_lines='skip')
pnoun_df = pd.read_csv(pnoun_data, on_bad_lines='skip')
ppp_df = pd.read_csv(ppp_data, on_bad_lines='skip')
animal1_df = pd.read_csv(animal_data1, on_bad_lines='skip')
animal2_df = pd.read_csv(animal_data2, on_bad_lines='skip')

In [2]:
%store name_df
%store food_df
%store color_df
%store hobby_df
%store word1_df
%store word2_df
%store pet_df
%store slang_df
%store urbandict_df
%store adj_df
%store adv_df
%store noun_df
%store pnoun_df
%store ppp_df
%store animal1_df
%store animal2_df

UsageError: Unknown variable 'name_df'

In [42]:
lname_df = pd.read_csv("/Users/felix/Desktop/SnapUsers-Dummy/facebook-lastnames-withcount.csv", on_bad_lines='skip')
city_df = pd.read_csv("/Users/felix/Desktop/SnapUsers-Dummy/worldcities.csv", on_bad_lines='skip')

In [43]:
%store lname_df
%store city_df

Stored 'lname_df' (DataFrame)
Stored 'city_df' (DataFrame)

In [60]:
%store -r cleaned_name
%store -r cleaned_food
%store -r cleaned_color
%store -r cleaned_hobby
%store -r cleaned_word1
%store -r cleaned_word2
%store -r cleaned_pet
%store -r cleaned_slang
%store -r cleaned_ud
%store -r cleaned_adj
%store -r cleaned_adv
%store -r cleaned_noun
%store -r cleaned_pnoun
%store -r cleaned_ppp
%store -r cleaned_animal1
%store -r cleaned_animal2
%store -r cleaned_lname
%store -r cleaned_city

In [61]:
frames = [cleaned_name, cleaned_food, cleaned_color, cleaned_hobby, cleaned_word1, cleaned_word2, cleaned_pet, cleaned_slang, cleaned_ud, cleaned_adj, cleaned_adv, cleaned_noun, cleaned_pnoun, cleaned_ppp, cleaned_animal1, cleaned_animal2, cleaned_lname, cleaned_city]
merged_df = frames[0]
for df in frames[1:]:
    merged_df = pd.merge(merged_df, df, on= "Words", how='outer')

In [62]:
merged_df.head()

  Words
0  1880
1  1880
2  1880
3  1880
4  1880

In [63]:
len(merged_df)

14988189

In [64]:
merged_df.sample

<bound method NDFrame.sample of                Words
0               1880
1               1880
2               1880
3               1880
4               1880
...              ...
14988184     Maarten
14988185    Svalbard
14988186      Futuna
14988187     Helena,
14988188  Ascension,

[14988189 rows x 1 columns]>

In [65]:
merged_df.dtypes

Words    object
dtype: object

In [ ]:
#words_df3['Combined_Num'] = words_df3['Combined_Num'].apply(lambda x: str(x))
#words_df3.head()

In [71]:
merged_df.sample

<bound method NDFrame.sample of                Words
0               1880
1               1881
2               1882
3               1883
4               1884
...              ...
13129208     Maarten
13129209    Svalbard
13129210      Futuna
13129211     Helena,
13129212  Ascension,

[13129213 rows x 1 columns]>

In [73]:
merged_df['Words'] = merged_df['Words'].fillna(0)
merged_df = merged_df.drop_duplicates(ignore_index=True)

/var/folders/h4/q3j2mj8s12d4_ql5lj_3qq8c0000gn/T/ipykernel_7578/3190955494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Words'] = merged_df['Words'].fillna(0)

In [74]:
merged_df.head()

  Words
0  1880
1  1881
2  1882
3  1883
4  1884

In [75]:
len(merged_df)

13129213

In [77]:
%store merged_df

Stored 'merged_df' (DataFrame)

In [ ]:
merged_df.sample(n=50, random_state=35)

In [105]:
pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 3.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [107]:
from unidecode import unidecode
unidecode(u'werę')

'were'

In [110]:
merged_df['Words'] = merged_df['Words'].apply(lambda x: str(x))

In [111]:
merged_df['Words'] = merged_df['Words'].apply(lambda x: unidecode(x))

In [112]:
merged_df = merged_df.drop_duplicates(ignore_index=True)

In [113]:
len(merged_df)

12915656

In [117]:
%store merged_df

Stored 'merged_df' (DataFrame)

In [118]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12915656 entries, 0 to 12915655
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   Words   object
dtypes: object(1)
memory usage: 98.5+ MB

In [119]:
merged_df.to_csv('snapmine_words.csv')