In [1]:
import pandas as pd
import numpy as np

In [2]:
%store -r hobby_df

In [3]:
hobby_df.head()

                Hobby-name
0               Air sports
1                  Airsoft
2          Amateur geology
3  Amusement park visiting
4                  Archery

In [ ]:
#hobby cleaning
hobby_df = hobby_df.drop(columns=["Type"])
hobby_df.head()

In [4]:
%store hobby_df

Stored 'hobby_df' (DataFrame)

In [5]:
cleaned_hobby = (hobby_df['Hobby-name'].str.split().explode().to_frame(name='Words'))
len(cleaned_hobby)

644

In [6]:
cleaned_hobby = cleaned_hobby.drop_duplicates()
cleaned_hobby = cleaned_hobby.reset_index(drop=True)
len(cleaned_hobby)

469

In [7]:
cleaned_hobby.head()

     Words
0      Air
1   sports
2  Airsoft
3  Amateur
4  geology

In [8]:
%store cleaned_hobby

Stored 'cleaned_hobby' (DataFrame)

In [ ]:
######
%run snap-clean-words.ipynb
cleaned_hobby = sepWords(hobby_df, "Hobby-name")