In [1]:
import pandas as pd

In [2]:
%store -r adv_df

In [3]:
adv_df.head()

         'tween
0  'tween-decks
1   Byronically
2     Christian
3   Christianly
4       Fridays

In [4]:
%store adv_df

Stored 'adv_df' (DataFrame)

In [5]:
%run snap-clean-words.ipynb
cleaned_adv = sepWords(adv_df, "'tween")

In [6]:
cleaned_adv.head()

          Words
0  'tween-decks
1   Byronically
2     Christian
3   Christianly
4       Fridays

In [7]:
%store cleaned_adv

Stored 'cleaned_adv' (DataFrame)