In [1]:
import pandas as pd
import numpy as np

In [2]:
%store -r food_df

In [3]:
food_df.head()

  FoodCategory             FoodItem
0  CannedFruit           Applesauce
1  CannedFruit      Canned Apricots
2  CannedFruit  Canned Blackberries
3  CannedFruit   Canned Blueberries
4  CannedFruit      Canned Cherries

In [ ]:
#food cleaning
food_df = food_df.drop(columns=["per100grams", "Cals_per100grams", "KJ_per100grams"])
food_df.head()

In [4]:
%store food_df

Stored 'food_df' (DataFrame)

In [5]:
food_df['FoodCategory'].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [18]:
#clean bad characters
food_df['FoodCategory'] = food_df['FoodCategory'].str.replace('&', ' ')
food_df['FoodCategory'] = food_df['FoodCategory'].str.replace('(', ' ')
food_df['FoodCategory'] = food_df['FoodCategory'].str.replace(')', ' ')

In [26]:
#separate words
import re
food_df['FoodCategory'] = food_df['FoodCategory'].apply(lambda x: re.sub(r'(?<=[a-z])([A-Z])', r' \1', x))

In [28]:
food_df['FoodCategory'].unique()

array(['Canned Fruit', 'Fruits', 'Tropical Exotic Fruits',
       'Potato Products', 'Vegetables', 'Fast Food', 'Pizza', 'Cheese',
       'Cream Cheese', 'Milk Dairy Products', 'Sliced Cheese', 'Yogurt',
       'Beef Veal', 'Cold Cuts Lunch Meat', 'Meat', 'Offal Giblets',
       'Pork', 'Poultry Fowl', 'Sausage', 'Venison Game', 'Cakes Pies',
       'Candy Sweets', 'Ice Cream', ' Fruit Juices',
       'Alcoholic Drinks Beverages', 'Beer',
       'Non-Alcoholic Drinks Beverages', 'Soda Soft Drinks', 'Wine',
       'Cereal Products', 'Oatmeal,Muesli Cereals', 'Pasta Noodles',
       'Dishes Meals', 'Soups', 'Legumes', 'Nuts Seeds', 'Oils Fats',
       'Vegetable Oils', 'Baking Ingredients', 'Fish Seafood',
       'Herbs Spices', 'Pastries,Breads Rolls', 'Sauces Dressings',
       'Spreads'], dtype=object)

In [29]:
%store food_df

Stored 'food_df' (DataFrame)

In [39]:
cleaned_foodcat = food_df['FoodCategory'].str.split().explode().to_frame(name='Words')

In [40]:
cleaned_foodcat.head()

    Words
0  Canned
0   Fruit
1  Canned
1   Fruit
2  Canned

In [41]:
len(cleaned_foodcat)

4074

In [42]:
cleaned_foodit = (food_df['FoodItem'].str.split().explode().to_frame(name='Words'))
cleaned_foodit.head()
len(cleaned_foodit)

4013

In [43]:
cleaned_food = pd.concat([cleaned_foodcat, cleaned_foodit], ignore_index=True)
cleaned_food.head()
len(cleaned_food)

8087

In [45]:
cleaned_food = cleaned_food.drop_duplicates()
len(cleaned_food)

1561

In [46]:
%store cleaned_food

Stored 'cleaned_food' (DataFrame)

In [47]:
cleaned_food.head()

        Words
0      Canned
1       Fruit
58     Fruits
112  Tropical
113    Exotic

In [50]:
cleaned_food = cleaned_food.reset_index(drop=True)

In [52]:
cleaned_food.head()

      Words
0    Canned
1     Fruit
2    Fruits
3  Tropical
4    Exotic

In [53]:
%store cleaned_food

Stored 'cleaned_food' (DataFrame)

In [ ]:
######
%run snap-clean-words.ipynb
cleaned_food1 = sepWords(food_df, "FoodCategory")
cleaned_food2 = sepWords(food_df, "FoodItem")
cleaned_food = pd.concat([cleaned_foodcat, cleaned_foodit], ignore_index=True)