In [1]:
import pandas as pd

In [2]:
%store -r word2_df

In [3]:
word2_df.head()

     word
0      aa
1     aaa
2     aah
3   aahed
4  aahing

In [ ]:
#word cleaning
word2_df = word2_df.drop(columns=["Unnamed: 0", "pos_tag"])
word2_df.head()

In [4]:
%store word2_df

Stored 'word2_df' (DataFrame)

In [7]:
######
%run snap-clean-words.ipynb
cleaned_word2 = sepWords(word2_df, "word")

In [8]:
cleaned_word2.head()

    Words
0      aa
1     aaa
2     aah
3   aahed
4  aahing

In [9]:
%store cleaned_word2

Stored 'cleaned_word2' (DataFrame)