In [1]:
import pandas as pd
import numpy as np

In [2]:
%store -r color_df

In [3]:
color_df.head()

                   Name
0         Absolute Zero
1            Acid green
2                  Aero
3        African violet
4  Air superiority blue

In [ ]:
#color cleaning
color_df = color_df.drop(columns=["Hex", "Red", "Green", "Blue", "Hue", "hslSatur", "hslLight", "hsvSatur", "hsvValue"])
color_df.head()

In [4]:
%store color_df

Stored 'color_df' (DataFrame)

In [5]:
cleaned_color = (color_df['Name'].str.split().explode().to_frame(name='Words'))
cleaned_color.head()
len(cleaned_color)

1659

In [6]:
cleaned_color.head()

      Words
0  Absolute
0      Zero
1      Acid
1     green
2      Aero

In [7]:
cleaned_color = cleaned_color.drop_duplicates()
cleaned_color = cleaned_color.reset_index(drop=True)
len(cleaned_color)

772

In [8]:
cleaned_color.head()

      Words
0  Absolute
1      Zero
2      Acid
3     green
4      Aero

In [9]:
%store cleaned_color

Stored 'cleaned_color' (DataFrame)

In [ ]:
######
%run snap-clean-words.ipynb
cleaned_color = sepWords(color_df, "Name")