In [1]:
import pandas as pd

In [2]:
%store -r noun_df

In [3]:
noun_df.head()

      007     007s
0       0       0s
1  0-10-0  0-10-0s
2  0-10-2  0-10-2s
3  0-12-0  0-12-0s
4   0-2-2   0-2-2s

In [4]:
noun_df = noun_df.drop(columns=["007s"])
noun_df.head()

      007
0       0
1  0-10-0
2  0-10-2
3  0-12-0
4   0-2-2

In [5]:
%store noun_df

Stored 'noun_df' (DataFrame)

In [7]:
%run snap-clean-words.ipynb
cleaned_noun = sepWords(noun_df, "007")

In [8]:
cleaned_noun.head()

    Words
0       0
1  0-10-0
2  0-10-2
3  0-12-0
4   0-2-2

In [9]:
%store cleaned_noun

Stored 'cleaned_noun' (DataFrame)