In [1]:
import pandas as pd

In [2]:
%store -r adj_df

In [3]:
adj_df.head()

          A-OK
0         AWOL
1      Aaronic
2    Aaronical
3  Abbevillian
4     Aberdeen

In [4]:
%store adj_df

Stored 'adj_df' (DataFrame)

In [5]:
%run snap-clean-words.ipynb
cleaned_adj = sepWords(adj_df, "A-OK")

In [6]:
cleaned_adj.head()

         Words
0         AWOL
1      Aaronic
2    Aaronical
3  Abbevillian
4     Aberdeen

In [7]:
%store cleaned_adj

Stored 'cleaned_adj' (DataFrame)