In [1]:
import pandas as pd

In [2]:
%store -r pet_df

In [3]:
pet_df.head()

  animal_name
0      Wall-E
1       Andre
2         Mac
3        Melb
4  Gingersnap

In [ ]:
#pet cleaning
pet_df = pet_df.drop(columns=["Unnamed: 0", "license_issue_date", "license_number", "species", "primary_breed", "secondary_breed", "zip_code"])
pet_df.head()

In [4]:
%store pet_df

Stored 'pet_df' (DataFrame)

In [5]:
pet_df['animal_name'].unique()

array(['Wall-E', 'Andre', 'Mac', ..., 'Homie G', 'Poppy Valentine',
       'Buddy 2'], dtype=object)

In [6]:
######
%run snap-clean-words.ipynb
cleaned_pet = sepWords(pet_df, "animal_name")

In [7]:
cleaned_pet.head()

        Words
0      Wall-E
1       Andre
2         Mac
3        Melb
4  Gingersnap

In [8]:
%store cleaned_pet

Stored 'cleaned_pet' (DataFrame)