In [1]:
import pandas as pd

In [2]:
%store -r city_df

In [3]:
city_df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629

In [4]:
city_df = city_df[['city', 'country']]

In [5]:
city_df.head()

        city    country
0      Tokyo      Japan
1    Jakarta  Indonesia
2      Delhi      India
3  Guangzhou      China
4     Mumbai      India

In [6]:
%run snap-clean-words.ipynb
cleaned_city = sepWords(city_df, "city")

In [7]:
cleaned_city2 = sepWords(city_df, "country")

In [8]:
cleaned_city= pd.concat([cleaned_city, cleaned_city2], ignore_index=True)

In [9]:
cleaned_city.head()

       Words
0      Tokyo
1    Jakarta
2      Delhi
3  Guangzhou
4     Mumbai

In [10]:
%store cleaned_city

Stored 'cleaned_city' (DataFrame)