In [1]:
import pandas as pd

In [2]:
%store -r urbandict_df

In [3]:
urbandict_df.head()

,definition,word,author,tags,up,down,date
0,When a city or town specifically zones an area...,Jizzneyland,whocaresaboutNY,"[u'#jisneyland', u'#gizzneyland', u'#adult zon...",6267,6382,"April 05, 2013"
1,A toilet bowl.,trump basket,jknightx,[],729,634,"March 23, 2017"
2,Excellent health care reserved exclusively for...,wealth care,Davis Finch,"[u'#insurance', u'#rich', u'#america', u'#capi...",1072,625,"May 16, 2008"
3,A dick thing you say to a tall person to piss ...,hows the weather up there,Jackalfu,[],1428,580,"March 20, 2017"
4,"The insane, narcissistic, outrageous asshat wh...",ratfucker,FedupAngryLiberal,"[u'#trump', u'#asshat', u'#scum', u'#asshole',...",1580,2351,"March 18, 2017"

In [5]:
urbandict_df = urbandict_df.drop(columns=["definition", "tags", "up", "down", "date"])
urbandict_df.head()

                        word             author
0                Jizzneyland    whocaresaboutNY
1               trump basket           jknightx
2                wealth care        Davis Finch
3  hows the weather up there           Jackalfu
4                  ratfucker  FedupAngryLiberal

In [6]:
%store urbandict_df

Stored 'urbandict_df' (DataFrame)

In [9]:
######
%run snap-clean-words.ipynb
cleaned_ud1 = sepWords(urbandict_df, "word")
cleaned_ud2 = sepWords(urbandict_df, "author")
cleaned_ud = pd.concat([cleaned_ud1, cleaned_ud2], ignore_index=True)

In [10]:
cleaned_ud.head()

         Words
0  Jizzneyland
1        trump
2       basket
3       wealth
4         care

In [11]:
%store cleaned_ud

Stored 'cleaned_ud' (DataFrame)