In [1]:
import pandas as pd

In [2]:
%store -r slang_df

In [3]:
slang_df.head()

   Unnamed: 0 acronym            expansion
0           0    2day                today
1           1    2m2h  too much too handle
2           2   2moro             tomorrow
3           3   2nite              tonight
4           4    4eae    for ever and ever

In [4]:
slang_df = slang_df.drop(columns=["Unnamed: 0", "expansion"])
slang_df.head()

  acronym
0    2day
1    2m2h
2   2moro
3   2nite
4    4eae

In [5]:
%store slang_df

Stored 'slang_df' (DataFrame)

In [6]:
######
%run snap-clean-words.ipynb
cleaned_slang = sepWords(slang_df, "acronym")

In [7]:
cleaned_slang.head()

   Words
0   2day
1   2m2h
2  2moro
3  2nite
4   4eae

In [8]:
%store cleaned_slang

Stored 'cleaned_slang' (DataFrame)