In [1]:
import pandas as pd

In [10]:
%store -r animal2_df

In [11]:
animal2_df.head()

,Animal,Height (cm),Weight (kg),Color,Lifespan (years),Diet,Habitat,Predators,Average Speed (km/h),Countries Found,Conservation Status,Family,Gestation Period (days),Top Speed (km/h),Social Structure,Offspring per Birth
0,Aardvark,105-130,40-65,Grey,20-30,Insectivore,"Savannas, Grasslands","Lions, Hyenas",40,Africa,Least Concern,Orycteropodidae,210-240,40,Solitary,1
1,Aardwolf,40-50,8-14,Yellow-brown,10-12,Insectivore,"Grasslands, Savannas","Lions, Leopards",24-30,Eastern and Southern Africa,Least Concern,Hyaenidae,90,40,Solitary,2-5
2,African Elephant,270-310,2700-6000,Grey,60-70,Herbivore,"Savannah, Forest","Lions, Hyenas",25,Africa,Vulnerable,Elephantidae,640-660,40,Herd-based,1
3,African Lion,80-110,120-250,Tan,10-14,Carnivore,"Grasslands, Savannas","Hyenas, Crocodiles",58,Africa,Vulnerable,Felidae,98-105,80,Group-based,2-4 (usually)
4,African Wild Dog,75-80,18-36,Multicolored,10-12,Carnivore,Savannahs,"Lions, Hyenas",56,Sub-Saharan Africa,Endangered,Canidae,70,56,Group-based,10-12

In [12]:
animal2_df = animal2_df[["Animal"]]
animal2_df.head()

             Animal
0          Aardvark
1          Aardwolf
2  African Elephant
3      African Lion
4  African Wild Dog

In [13]:
%store animal2_df

Stored 'animal2_df' (DataFrame)

In [14]:
%run snap-clean-words.ipynb
cleaned_animal2 = sepWords(animal2_df, "Animal")

In [15]:
cleaned_animal2.head()

      Words
0  Aardvark
1  Aardwolf
2   African
3  Elephant
4      Lion

In [16]:
%store cleaned_animal2

Stored 'cleaned_animal2' (DataFrame)