In [1]:
import pandas as pd
import numpy as np

In [2]:
%store -r word1_df

In [3]:
word1_df.head()

  word
0  the
1   of
2  and
3   to
4   in

In [ ]:
#word cleaning
word1_df = word1_df.drop(columns=["count"])
word1_df.head()

In [4]:
%store word1_df

Stored 'word1_df' (DataFrame)

In [5]:
cleaned_word1 = word1_df
%store cleaned_word1

Stored 'cleaned_word1' (DataFrame)

In [1]:
%store -r cleaned_word1

In [4]:
cleaned_word1 = cleaned_word1.rename(columns={"word": "Words"})

In [5]:
cleaned_word1.head()

  Words
0   the
1    of
2   and
3    to
4    in

In [6]:
%store cleaned_word1

Stored 'cleaned_word1' (DataFrame)